
.hero-slider.flexslider {
    position: relative;
    z-index: 1;
    height: 500px;
    width: 100%;
    overflow: hidden;
    @media only screen and (max-width: 992px){
        height: 350px;
        ul.slides {
            li {
            height: 350px;
        }        }
        &>ul.slides{
            height: 100%;
        }
    }
}
.flexslider {
    background: url(../images/loader.gif) no-repeat scroll center center;

    margin: 0;
    padding: 0;
    position: relative;
    .slides{
        zoom: 1;
        margin: 0;
        list-style-type: none;
    }
}

