{% extends "layout.html" %}

{% block carousel %}
	<!-- Start Page Header -->
	<div class="page-header parallax clearfix" style="background-image:url({{'/static/images/slide7.jpg'}});">
			<div class="title-subtitle-holder">
				<div class="title-subtitle-holder-inner">
				<h2>About our church</h2>
				</div>
			</div>
	</div>
	<!-- End Page Header -->

{% endblock %}

{% block body %}
	<div class="lgray-bg breadcrumb-cont">
		<div class="container">
					<ol class="breadcrumb">
						<li><a href="index.html">Home</a></li>
						<li class="active">About Us</li>
					</ol>
			</div>
	</div>
	<!-- Start Body Content -->
	<div class="main" role="main">
		<div id="content" class="content full">
				<div class="container">
							<h2>Welcome to Adore Church</h2>
							<hr class="sm">
							<h4>Aenean vulputate eleifend tellus</h4>
							<p>Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.Aenean vulputate eleifend tellus. Nulla consequat massa quis enim.Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.Aenean vulputate eleifend tellus.</p>
							<div class="spacer-50"></div>
							<div class="row">
								{% for item in [{'icon':"icon-happy-drop",'heading':"Be happy",'body':"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel."},
								{'icon':"icon-umbrella",'heading': "Help others", 'body':"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel."},
								{'icon':"icon-tshirt",'heading': "Shop for a cause", 'body': "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel."}] %}
								<div class="col-md-4 col-sm-4">
										<div class="icon-box icon-box-style1">
												<div class="icon-box-head">
														<span class="ico"><i class="{{item.icon}}"></i></span>
														<h4>{{item.heading}}</h4>
												</div>
												<p>{{item.body}}</p>
											</div>
									</div>
								{% endfor %}								
							</div>
							<hr class="fw">
							<h3>Our Staff</h3>
							<div class="spacer-10"></div>
							<div class="row">
									<div class="col-md-4 col-sm-4">
											<div class="grid-item staff-item format-standard">
												<div class="grid-item-inner">
														<a href="staff.html" class="media-box">
																<img src="{{ '/static/images/staff1.jpg'}}" alt="">
															</a>
														<div class="grid-content">
																<div class="staff-item-name">
																<h5>Melina Mironescu</h5>
																			<span class="meta-data">Connections Coordinator</span>
																	</div>
																	<ul class="social-icons-colored">
																			<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
																			<li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
																			<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
																			<li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
																	</ul>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
														</div>
												</div>
											</div>
									</div>
									<div class="col-md-4 col-sm-4">
											<div class="grid-item staff-item format-standard">
												<div class="grid-item-inner">
														<a href="staff.html" class="media-box">
																<img src="{{ '/static/images/staff2.jpg'}}" alt="">
															</a>
														<div class="grid-content">
																<div class="staff-item-name">
																<h5>Brandon Dean</h5>
																			<span class="meta-data">Pastor</span>
																	</div>
																	<ul class="social-icons-colored">
																			<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
																			<li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
																			<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
																			<li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
																	</ul>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
														</div>
												</div>
											</div>
									</div>
									<div class="col-md-4 col-sm-4">
											<div class="grid-item staff-item format-standard">
												<div class="grid-item-inner">
														<a href="staff.html" class="media-box">
																<img src="{{ '/static/images/staff3.jpg'}}" alt="">
															</a>
														<div class="grid-content">
																<div class="staff-item-name">
																<h5>Elizabeth Hart</h5>
																			<span class="meta-data">Events Manager</span>
																	</div>
																	<ul class="social-icons-colored">
																			<li class="facebook"><a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
																			<li class="vimeo"><a href="https://www.vimeo.com/"><i class="fa fa-vimeo-square"></i></a></li>
																			<li class="twitter"><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
																			<li class="googleplus"><a href="https://plus.google.com/"><i class="fa fa-google-plus"></i></a></li>
																	</ul>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem.</p>
														</div>
												</div>
											</div>
									</div>
							</div>
							<div class="spacer-20"></div>
					</div>
			</div>
	</div>
	<!-- End Body Content -->

{% endblock %}
